:root {
	--Dark-cyan: hsl(158, 36%, 37%);
	--Cream: hsl(30, 38%, 92%);
	--Very-dark-blue: hsl(212, 21%, 14%);
	--Dark-grayish-blue: hsl(228, 12%, 48%);
	--White: hsl(0, 0%, 100%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: var(--Cream);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-box {
	width: 600px;
	height: 450px;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}
.box2 {
	width: 300px;
	height: 450px;
	background-color: var(--White);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	gap: 20px;
	padding-left: 10px;
}
.box1 {
	width: 300px;
	height: 450px;
}
section {
	font-size: 20px;
	padding-left: 10px;
}
h1 {
	font-weight: 600;
	font-size: 30px;
	padding-left: 15px;
}
.box1 img {
	width: 100%;
}
.dataend {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 20px;
}
button {
	background-color: var(--Dark-cyan);
	border: 2px solid none;
	border-radius: 10px;
	padding: 10px 25px;
	text-align: center;
	margin-left: 40px;
	margin-bottom: 10px;
}
.doll {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.dollar {
	font-weight: bold;
	font-size: 30px;
	color: green;
}
#dollar1 {
	font-weight: 200;
	font-size: 5px;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
